@model Student

@{
    ViewData["Title"] = "Add";
}

<h1>Add Student</h1>
<hr />
<div class="row">
    <div class="col-md-4">
       <form asp-action="Add">
           <div class="form-group">
               <label asp-for="Name">Name</label>
              <input asp-for="Name" type="text" class="form-control">
           </div>
            <div class="form-group">
               <label asp-for="MathsMarks">Maths</label>
              <input asp-for="MathsMarks" type="number" class="form-control">
           </div>
            <div class="form-group">
               <label asp-for="ScienceMarks">Science</label>
              <input asp-for="ScienceMarks" type="text" class="form-control">
           </div>
            <div class="form-group">
               <label asp-for="EnglishMarks">English</label>
              <input asp-for="EnglishMarks" type="number" class="form-control">
           </div>
           <div class="form-group">
              <input value="create" type="submit" class="btn btn-primary">
           </div>
       </form>

    </div>

</div>